:root {
  --main-title-color: rgba(255, 255, 255, 1);
  --second-title-color: rgba(33, 33, 33, 1);
  --main-text-color: rgba(117, 117, 117, 1);
  --second-text-color: rgba(255, 255, 255, 0.6);
  --accent-color: rgba(33, 150, 243, 1);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:focus {
  outline: 1px solid #000;
}

body {
  font-family: "Roboto", sans-serif;
  color: black;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.main-container {
  max-width: 1200px;
  margin: auto;
}

/*************************************************************header**************************************************************************/

.webstudio {
  padding-top: 20px;
}

.webstudio:focus,
.webstudio:hover {
  text-decoration: underline;
}

.web-link {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.studio-link {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: black;
}

.container {
  display: flex;
  justify-content: space-between;
}

.navigation-container {
  display: flex;
}

.navigation {
  display: flex;
  list-style: none;
  flex-grow: 1;
  padding-left: 90px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.studio,
.portfolio,
.contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin-right: 50px;
  color: var(--second-title-color);
}

.studio:hover,
.studio:focus,
.portfolio:hover,
.portfolio:focus,
.contacts:hover,
.contacts:focus {
  text-decoration: underline;
  color: var(--accent-color);
}

.list-contacts {
  display: flex;
}

.mail {
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  margin-right: 50px;
  margin-top: 30px;
}

.mail:hover,
.mail:focus {
  text-decoration: underline;
  color: var(--accent-color);
}

.telephone {
  display: inline-block;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin-top: 30px;
  color: var(--main-text-color);
}

.telephone:hover,
.telephone:focus {
  text-decoration: underline;
  color: var(--accent-color);
}

/****************************************************************main*************************************************************************/

.solutions {
  background: #2f303a;
  text-align: center;
  padding-bottom: 280px;
}

.core {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-width: 696px;
  margin: auto;
  padding-top: 200px;
  padding-bottom: 30px;
  color: var(--main-title-color);
}

.order {
  display: inline-flex;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
  border: none;
  cursor: pointer;
}

.skills {
  display: flex;
  justify-content: space-between;
  padding: 90px 0;
  margin: 0 -15px;
}

.skills-list {
  padding: 0 15px;
}

.skills-main {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-title-color);
  padding-bottom: 10px;
}

.skills-about {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.our-work {
  margin-bottom: 90px;
}

.our-work-main {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
  padding-bottom: 50px;
}
.our-work-list {
  display: flex;
  margin: 0 -15px;
  padding: 0;
  justify-content: space-between;
}

.image-list {
  padding: 0 15px;
  width: 33.333%;
}

.image-work {
  display: block;
  width: 100%;
  height: auto;
}

.team {
  padding-top: 90px;
  margin-bottom: 90px;
}

.team-main {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: var(--second-title-color);
}

.team-list {
  display: flex;
  justify-content: space-between;
  margin: 0 -1.25%;
  padding: 0;
}

.team-photo {
  display: block;
  margin-bottom: 30px;
  width: 100%;
  height: auto;
}

.photo-list {
  width: 22.5%;
  margin: 0 1.25%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 20px;
  text-align: center;
}

.name {
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19px;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}

.job {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
/*************************************************************footer**************************************************************************/
.container-ft {
  background-color: #2f303a;
}

.contacts-ft {
  max-width: 1200px;
  margin: auto;
}

.ft-link {
  display: inline-flex;
  padding-top: 60px;
  margin-bottom: 20px;
  border-bottom: 1px solid transparent;
}

.ft-link span {
  display: inline-flex;
  line-height: 0.8;
}

.ft-link:hover,
.ft-link:focus {
  border-color: #ffffff;
}

.studio-ft {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.location {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding-bottom: 10px;
}

.mail-ft {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.mail-ft:hover,
.mail-ft:focus {
  text-decoration: underline;
  color: var(--accent-color);
}

.telephone-ft {
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  padding-bottom: 60px;
  padding-top: 10px;
}

.telephone-ft:hover,
.telephone-ft:focus {
  text-decoration: underline;
  color: var(--accent-color);
}

/***************************************************************Портфолио********************************************************************/

.filters {
  display: flex;
  justify-content: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 30px;
}

.filter-btn {
  padding: 0 22px;
  margin: 0 4px;
  height: 38px;
  background: #f5f4fa;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.filter-all:hover,
.filter-all:focus {
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(58, 51, 51, 0.12);
}

.content {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.content-list {
  max-width: 33.3333%;
  width: 33.3333%;
  padding: 0 15px;
  margin-bottom: 30px;
}

.content-link:focus,
.content-link:hover {
  border-radius: 2px;
}

.name-project {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-title-color);
}

.project-description {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
